@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.logo {
  margin: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__label {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 0;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
}
.page-header {
  min-width: 320px;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.menu-header {
  min-width: 320px;
  height: 100%;
}

.menu-header__items {
  overflow: hidden;
  height: 100%;
  padding: 0 15px;
}

.menu-header__item--left {
  float: left;
}

.menu-header__item--right {
  float: right;
}

.page-header__logo {
  display: block;
  margin-top: 6px;
}

.page-header__logo--lable {
  color: #000000;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle:hover > svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .page-header {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .nav {
    display: none;
  }
  .contact__items {
    display: none;
  }
  .menu-header__items {
    overflow: hidden;
  }
  .menu-header__item-left {
    float: left;
  }
  .menu-header__item-right {
    float: right;
  }
  .page-header__logo {
    margin-top: 16px;
    display: block;
  }
  .menu-toggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .page-header {
    height: 80px;
  }
  .page-header__logo {
    margin-right: 83px;
    margin-top: 26px;
    display: block;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav__item {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 31px;
  }
  .nav__item:not(:last-child) {
    margin-right: 42px;
  }
  .nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #000000;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .current-page {
    position: relative;
  }
  .current-page::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .contact__items {
    display: inline-block;
    align-items: center;
    margin-top: 21px;
    height: 100%;
  }
  .contact__item {
    margin-bottom: 10px;
  }
  .contact__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    fill: #757575;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .contact__svg-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .contact__svg-phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    height: 80px;
    margin: 0 auto;
  }
  .page-header__logo {
    margin-right: 93px;
    margin-top: 26px;
  }
  .nav__item:not(:last-child) {
    margin-right: 46px;
  }
  .contact__items {
    height: 100%;
    margin-top: 32px;
    margin-right: 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  .contact__item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
  }
  .contact__svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .contact__svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.menu-container {
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: white;
  z-index: 20;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle-close:hover > svg {
  fill: #2196f3;
}

.menu-container_icon-close {
  position: absolute;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.menu-container_icon-close:hover, .menu-container_icon-close:focus {
  fill: #2196f3;
}

.mobile__items {
  position: absolute;
  top: 48px;
  min-width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
}

.mobile__item:nth-child(1) {
  margin-bottom: 302px;
}

.mobile__item:nth-child(2) {
  margin-bottom: 64px;
}

.mobile__item:nth-child(3) {
  margin-bottom: 0px;
}

.mobile-menu__link {
  display: block;
  text-decoration: none;
  min-width: calc(100% - 80px);
  max-width: 100%;
  min-height: 48px;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__items {
  display: flex;
  flex-direction: column;
}

.mobile-contact__link-phone {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  color: #2196F3;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact__link-phone:hover, .mobile-contact__link-phone:focus {
  color: rgba(4, 90, 250, 0.9607843137);
}

.mobile-contact__link-mail {
  display: block;
  text-decoration: none;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact__link-mail:hover, .mobile-contact__link-mail:focus {
  color: #2196f3;
}

.social-mobile__items {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 22px;
}

.social-mobile__item {
  height: 22px;
  margin-right: 10px;
}
.social-mobile__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-mobile__link {
  display: block;
  height: 22px;
  padding-right: 10px;
  text-decoration: none;
  color: #2196F3;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-mobile__link:hover, .social-mobile__link:focus {
  color: #0740bb;
}

.portfolio-pages {
  min-width: 320px;
  max-width: 100%;
  margin: auto;
  padding: 60px 15px;
}

.portfolio-nav {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.portfolio-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.portfolio-nav__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__button:hover, .portfolio-nav__button:focus {
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__box-area {
  min-width: calc(100% - 30px);
  margin-top: 50px;
  padding: 0 15px;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-box {
  margin: 0;
  padding: 0;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.portfolio-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box__img {
  display: block;
}

.portfolio-box__desc {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: #fff;
  padding: 20px 0px 20px 24px;
  position: relative;
  z-index: 3;
}

.portfolio-box__title {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  z-index: 3;
}

.portfolio-box__information {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  z-index: 3;
}

.portfolio-box__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 76%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
  z-index: 2;
}

.portfolio-box__overlay > .desc {
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  z-index: 2;
}

.portfolio-box:hover .portfolio-box__overlay {
  transform: translateX(0);
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.page-footer {
  min-width: 320px;
  height: 603px;
  background-color: #2f303a;
}

.footer__items {
  width: 100%;
  padding: 0 15px;
}

.page-footer__logo--lable {
  color: #fff;
}

.page-footer__logo {
  margin-bottom: 20px;
}

.logo-address__items {
  gap: 20px;
}

.address__item {
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

.address__item:not(:last-child) {
  margin-bottom: 5px;
}

.address__link {
  text-decoration: none;
  display: block;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.social-card-footer__title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.social-card-footer__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-card-footer__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition-property: border-radius, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-card-footer__icon:hover, .social-card-footer__icon:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #fff;
}

.social-card-footer__icon-svg {
  width: 20px;
  height: 20px;
}

.newsletter__item:not(:last-child) {
  padding-bottom: 20px;
}

.newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.newsletter__lable {
  height: 50px;
}

.newsletter__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  transition-property: background-color, border-color, filter, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input:hover, .newsletter__input:focus {
  outline: none;
  background-color: #2f303a;
  border: 2px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}

.newsletter__button {
  position: relative;
  display: inline-flex;
  text-align: center;
  align-items: center;
  padding-left: 42px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: border-radius, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__button:hover, .newsletter__button:focus {
  border-radius: 5px;
  background-color: #0d83e4;
  scale: 0.98;
}

.newsletter__icon {
  position: absolute;
  left: 148px;
  fill: #ffffff;
}

.newsletter__lable {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 479px) {
  .newsletter__items {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 60px;
    max-height: 603px;
  }
  .footer__items {
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .logo-address__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-address__item {
    text-align: center;
  }
  .address__link {
    text-align: center;
  }
  .social-card-footer__items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .newsletter__items {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .newsletter__item {
    max-width: 450px;
    width: 100%;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer {
    padding-top: 53px;
    max-height: 436px;
  }
  .footer__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    flex-basis: calc((100% - 60px) / 2);
  }
  .footer__item:last-child {
    min-width: 450px;
  }
  .logo-address__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .address__link {
    text-align: center;
  }
  .social-card-footer__items {
    padding-bottom: 20px;
  }
  .newsletter__items {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .newsletter__item {
    max-width: 450px;
    width: 100%;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    max-height: 252px;
  }
  .footer__items {
    padding: 0 15px;
    display: inline-flex;
    flex-direction: row;
  }
  .footer__item {
    display: inline-flex;
    width: 100%;
    padding-top: 60px;
    flex-basis: calc((100% - 141px) / 3);
  }
  .logo-address__item {
    margin-bottom: 20px;
  }
  .social-footer__items {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
  .newsletter__items {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
  .newsletter__form {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .newsletter__lable {
    width: 356px;
    margin-right: 10px;
  }
}
.slider {
  display: flex;
  justify-content: center;
  padding-top: 118px;
  min-width: 320px;
  max-width: 100%;
  height: 400px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider_mobile-480x400.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .slider {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider_mobile-960x800.jpg) no-repeat center;
    background-size: cover;
  }
}
.slider__area {
  max-width: 365px;
  max-height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.slider__title {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 365px;
  height: 84px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.slider__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  scale: 1;
  transition-property: background-color, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.slider__button:focus, .slider__button:hover {
  scale: 0.98;
  background-color: #098bf5;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .slider {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider_mobile-768x400.jpg) no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 481px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 481px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 481px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .slider {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider_mobile-1536x800.jpg) no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .slider {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider_mobile-768x400.jpg) no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .slider {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider_mobile-1536x800.jpg) no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .slider {
    padding-top: 200px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider-Header_1600-600.jpg) no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slider {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Slider-Header_3200x1200.jpg) no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .slider__area {
    max-width: 1600px;
    max-height: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .slider__title {
    display: inline-block;
    max-width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.attributes {
  min-width: 320px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.attributes__items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 0 15px;
}

.attributes__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attributes__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.attributes__icon-svg {
  width: 70px;
  height: 70px;
}

.attributes__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.attributes__desc {
  display: flex;
  text-align: justify;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .attributes__items {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .attributes__item {
    min-width: 450px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .attributes {
    padding-bottom: 40px;
  }
  .attributes__items {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .attributes__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .attributes__title {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .attributes {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .attributes__items {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .attributes__item {
    max-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .attributes__title {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 1200px) {
  .activities {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activities {
    padding-bottom: 94px;
  }
  .activities__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .activities__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 15px;
  }
  .activities__item {
    position: relative;
    width: 370px;
    height: 294px;
    background-size: 370px 294px;
    background-color: #fff;
  }
  .activities__item--first-image {
    background-image: url(../images/programer-working-his-desk-office_370-294.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .activities__item--first-image {
    background-image: url(../images/programer-working-his-desk-office_740-588.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .activities__item--second-image {
    background-image: url(../images/team-creators-is-working-interface-mobile-phones_370x294.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .activities__item--second-image {
    background-image: url(../images/team-creators-is-working-interface-mobile-phones_740-588.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .activities__item--third-image {
    background-image: url(../images/creative-artist-web-design-with-working-colour-selection-graphic-tablet_370-294.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .activities__item--third-image {
    background-image: url(../images/creative-artist-web-design-with-working-colour-selection-graphic-tablet_740-588.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .activities__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    bottom: 0px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .activities__desc {
    position: absolute;
    color: #fff;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-direction: nowrap;
    justify-content: center;
    text-align: center;
  }
}
.our-clients {
  min-width: 320px;
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-clients__title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.clients__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 15px;
}

.clients__item {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px) / 2);
}

.clients__icon-svg {
  width: 106px;
  height: 60px;
}

.clients__icon {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    min-width: 226px;
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__item {
    max-width: 170px;
    flex-basis: calc((100% - 150px) / 4);
  }
  .our-clients__title {
    padding-bottom: 50px;
  }
  .our-clients__title {
    font-size: 36px;
    padding-bottom: 50px;
  }
}
.our-team {
  min-width: 320px;
  max-width: 100%;
  margin: auto;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-team__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.persons-cards__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 15px;
}

.persons-cards__item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-width: 100%;
  max-height: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.box-card__image-area {
  position: relative;
  height: 100%;
  width: 100%;
}

.box-card__image {
  display: block;
  width: 100%;
}

.box-card__body {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
  max-height: 100%;
  max-height: 100%;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 16px;
}

.social-card__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-card__item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-card__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: #afb1b8;
  transition-property: border-radius, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-card__icon:hover, .social-card__icon:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .persons-cards__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .box-card {
    min-width: 354px;
    min-height: 536px;
  }
  .box-card__image-area {
    min-width: 354px;
    min-height: 374px;
  }
  .box-card__image {
    max-width: 100%;
    max-height: 100%;
  }
  .box-card__body {
    min-width: 354px;
    min-height: 162px;
  }
}
@media only screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
  }
  .persons-cards__items {
    display: flex;
    flex-wrap: nowrap;
  }
  .persons-cards__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .box-card {
    width: 270px;
    height: 428px;
  }
  .box-card__image-area {
    width: 270px;
    height: 260px;
  }
  .box-card__image {
    max-width: 270px;
    max-height: 260px;
  }
  .box-card__body {
    width: 270px;
    height: 168px;
  }
}
.backdrop {
  position: fixed;
  min-width: 320px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(0, 0);
  -webkit-animation: fadeIn 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: fadeIn 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-animation: slideInMobile 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideInMobile 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.backdrop__button-close {
  position: absolute;
  margin: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__button-close:hover, .backdrop__button-close:focus {
  background-color: rgb(252, 253, 253);
  fill: #2196f3;
}

.backdrop__icon-close {
  margin: 5px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 5s, opacity 5s;
  -webkit-animation: fadeOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: fadeOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.is-hidden .backdrop__modal {
  -webkit-animation: slideOutMobile 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideOutMobile 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transition: opacity 5s, visibility 5s;
}

@media screen and (max-width: 479px) {
  .backdrop__modal {
    width: calc(100% - 30px);
    min-width: 290px;
    max-width: 450px;
    height: calc(100% - 30px);
    max-height: 609px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
    -webkit-animation: slideIn 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            animation: slideIn 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
  .is-hidden .backdrop__modal {
    -webkit-animation: slideOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            animation: slideOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.4);
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.4);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-15000px) scale(0.75);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-15000px) scale(0.75);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes slideOut {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  60% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateX(3000px) scale(0.5);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  60% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateX(3000px) scale(0.5);
  }
}
@-webkit-keyframes slideInMobile {
  0% {
    transform: translateY(-5000px) scale(0.5);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@keyframes slideInMobile {
  0% {
    transform: translateY(-5000px) scale(0.5);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes slideOutMobile {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  30% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateY(5000px) scale(0.5);
  }
}
@keyframes slideOutMobile {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  30% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateY(5000px) scale(0.5);
  }
}
.order {
  display: flex;
  flex-direction: column;
}

.order__title {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.order__box {
  margin: 0px 40px;
}

.order__items {
  display: flex;
  flex-direction: column;
}

.order__item {
  display: flex;
  flex-direction: column;
}

.order__icon-svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.order__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 40px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__input:hover, .order__input:active, .order__input:focus {
  border-color: #2196f3;
}

.order__label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  outline: none;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__label:hover, .order__label:active, .order__label:focus, .order__label:focus-within {
  border-color: #2196f3;
  fill: #2196f3;
}

.order__textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea:hover, .order__textarea:active, .order__textarea:focus, .order__textarea:focus-within {
  border-color: #2196f3;
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement-check {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 16px;
  height: 15px;
  transform: translateX(-3px);
  cursor: pointer;
  z-index: 3;
}
.checkbox-input:not(:checked) + svg > .checkbox-input__icon--unchecked {
  opacity: 1;
  fill: #000;
}
.checkbox-input:checked + svg > .checkbox-input__icon--unchecked {
  opacity: 0;
}
.checkbox-input:checked + svg > .checkbox-input__icon--checked {
  opacity: 1;
  fill: #2196f3;
}

.checkbox-input__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  flex-shrink: 0;
  opacity: 1;
  fill: none;
  z-index: 1;
  cursor: pointer;
}

.agreement__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement__link {
  margin-left: 3px;
  color: #2196f3;
}

.txt-span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 3px;
}

.button {
  display: flex;
  justify-content: center;
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover, .button-submit:focus {
  background-color: #1338b3;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 479px) {
  .button-submit {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .slider__title {
    max-width: 370px;
    height: 60px;
  }
  .order__item {
    margin-top: 12px;
  }
  .agreement {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .order__title {
    display: inline-block;
    flex-wrap: nowrap;
    max-width: 448px;
    height: 23px;
    margin-bottom: 12px;
    line-height: 1.15;
  }
  .order__item {
    margin-bottom: 10px;
  }
  .order__textarea {
    font-size: 12px;
    line-height: 1.17;
  }
  .agreement__label {
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 1.71;
  }
  .agreement-check {
    margin-top: 12px;
  }
  .txt-span {
    font-size: 14px;
    line-height: 1.71;
  }
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

h2,
h4,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  min-width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
  }
}
.container {
  min-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */