@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

$mainTextColor: #212121;
$headerBorderBotomColor: #ececec;
$logoColor: #2196f3;
$logoColorHeader: #000000;
$LogoColorFooter: #fff;
$navigationLinkColor: #000000;
$hoverFocusColor: #2196f3;
$hoverFocusColorMobile: #045afaf5;
$hoverFocusColorMobileSocial: #0740bb;
$headerCurentPageColor: #2196f3;
$contactColorHeader: #757575;
$contactSvgColorHeader: #757575;
$sliderGradientBackground: rgba(47, 48, 58, 0.4);
$sliderTitleColor: #fff;
$sliderButtonBackground: #2196f3;
$sliderButtonBackgroundHoverFocus: #098bf5;
$sliderButtonTextColor: #fff;
$sliderButtonBoxShadow: rgba(0, 0, 0, 0.15);
$atributesBackgroundColor: #f5f4fa;
$atributesDescColor: #757575;
$activitiesLabelBackground: rgba(47, 48, 58, 0.8);
$activitiesBoxBackground: #fff;
$activitiesDescText: #fff;
$teamBackgroundColor: #f5f4fa;
$teamBoxCardBackground: #fff;
$teamProfessionTextColor: #757575;
$teamIconMediaColor: #afb1b8;
$teamIconMediaColorHover: #fff;
$clientLogoColor: #afb1b8;
$clientLogoBorderColor: #afb1b8;
$footerBackgroundColor: #2f303a;
$footerContactAddressTitleColor: #fff;
$footerContactAddressLincColor: rgba(255, 255, 255, 0.6);
$footerSocialMediaBackground: rgba(255, 255, 255, 0.1);
$footerSocialMediaSvgColor: #fff;
$footerNewsletterTitle: #fff;
$footerNewsletterColorTextEmail: rgba(255, 255, 255, 0.6);
$footerBackgroundColorNewsletterEmail: #2f303a;
$footerNewsletterBorderColorEmail: rgba(255, 255, 255, 0.3);
$footerNewsletterButtonBackgroundColor: #2196f3;
$footerNewsletterButtonTextColor: #ffffff;
$footerNewsletterButtonHover: #0d83e4;
$portfolioButtonBackground: #f5f4fa;
$portfolioButtonText: #fff;
$portfolioDescBorder: #eeeeee;
$portfolioInformationColor: #757575;
$portfolioOverlayBackground: rgba(33, 150, 243, 0.9);
$backdropBackgroundColor: rgba(0, 0, 0, 0.2);
$backdropModalBackgroundColor: #ffffff;
$backdropModalBoxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$backdropModalButtonCloseBorderColor: #0000001a;
$backdropModalButtonIconHoverFocus: rgb(252, 253, 253);
$orderLabelTextColor: #757575;
$orderLableBorderColor: rgba(33, 33, 33, 0.2);
$orderTextareaBorderColor: rgba(33, 33, 33, 0.2);
$orderTextareaTextColor: rgba(117, 117, 117, 0.5);
$orderAgreementCheckBoxBorder: #212121;
$orderAgreementCheckedSvg: #2196f3;
$orderAgreementLink: #2196f3;
$orderAgreementText: #757575;
$orderAgrrementIconUnchecked: #000;
$orderAgrrementIconChecked: #2196f3;
$orderButtonTextColor: #ffffff;
$orderButtonBackground: #2196f3;
$orderButtonBackgroundHoverFocus: #1791f5;
$orderButtonBackgroundHoverFocus: #1338b3;
$menuMobileLinkPhone: #2196F3;
$menuMobileLinkMail: #757575;
$menuMobileBorderRight: rgba(33, 33, 33, 0.2);
$menuMobileSocialLinkColor: #2196F3;